<section class="signIn" *ngIf="router.routerState.snapshot.url == '/login'" fxLayout="row"
	fxLayoutAlign="center center">

	<div fxLayout="column" fxFlex.xs="90" class="signInDetails">
		<div fxFlex="100" class="logo">
			<img src="assets/images/health_ai.png" alt="" width="100%" height="100%">
		</div>
		<div fxFlex="100" class="usenameInput">
			<label for="">Username</label>
			<input class="custom_input" />
		</div>
		<div fxFlex="100" class="passwordInput">
			<div>
				<label for="">Password</label>
				<span class="forgotPWD"><a href="">Forgot Password ?</a></span>
			</div>
			<input class="custom_input" />
		</div>
		<div fxFlex="100" class="buttonGroup">
			<button mat-flat-button class="btn_primary" (click)="login()">Sign In</button>
		</div>
		<div fxFlex="100" class="signUpLink">
			<a routerLink="sign-up">Not a member? Sign in here...</a>
		</div>
	</div>
</section>
<router-outlet />
<!-- #33cccc  #5cd6d6
 #47d1d1  #70dbdb


  #ff66a3
 #ff4d94
 #ff0066
 #ff3385
 #ff4d94
 #ff3399
 #ff1a8c
 #e60073


 bg

  #f2f2f2
#F8F8F8	#F5F5F5	
  #ebfafa

-->