<section class="chatDashboard">
	<app-user-info-screen (patientDataAquired)="isPatientDataAquired($event)"></app-user-info-screen>
	<section class="chatScreen" *ngIf="patientDataAquired">
		<div class="chat-container" fxLayout="column" #chatContainer>
			<div class="message" *ngFor="let message of messages">
				<div class="message-content"
					[ngClass]="{'sent': message.sentByMe, 'received': !message.sentByMe}">
					{{ message.text }}
				</div>
			</div>
		</div>
		<div class="chat-input-container">
			<textarea (keyup.enter)="sendMessage()" [(ngModel)]="newMessage" class="chat-input"
				placeholder="Type your message..."></textarea>
			<button class="send-button" (click)="sendMessage() ">
				<mat-icon>send</mat-icon>
			</button>
		</div>

	</section>

</section>