// @use "/src/mixin" as mixin;

.signUpForm {
	.parentClass {
		padding: 10px;

		.header {
			margin-top: 10px;

			h2 {
				background: #F2F2F2;
				text-align: center;
				border: 1px solid #F2F2F2;
				border-bottom: none;
				border-radius: 8px 8px 0px 0px;
				margin-bottom: 0px;
				padding-top: 10px;
			}
		}

		.body {
			.signUpFormDetails {
				background: #F2F2F2;
				border: 1px solid #F2F2F2;
				border-top: none;
				border-radius: 0px 0px 8px 8px;
				padding: 10px;

				.details {
					margin: 10px 0px;
				}

				.buttonGroup {
					text-align: center;

					.btn_reset,
					.btn_primary {
						width: 40%;
					}

					.btn_reset {}
				}
			}
		}
	}
}