.userInfoScreen {

    .header {
        background: #ed803a !important;
        font-size: 16px;
        color: #fff !important;
    }

    mat-panel-title,
    mat-panel-description {
        color: #fff !important;
    }

    .inputSection {

        input,
        ng-select {
            margin: 8px 0px;
        }

        .margin_right {
            margin-right: 10px;
        }

        .btn_primary {
            width: 30%;
            border-radius: 24px !important;
            background: #237d9e !important;
            margin: 10px 0px 8px;
        }
    }

    .auto-resize-textarea {
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 8px;
        overflow: visible;
        resize: none;
        min-height: 50px;
        line-height: 21px;
        margin-bottom: 4px !important;
        margin-top: 8px !important;
    }

    .auto-resize-textarea::placeholder {
        color: rgba(0, 0, 0, 0.6);
        font-family: Roboto, "Helvetica Neue", sans-serif;
    }
}