<section class="userInfoScreen">
    <mat-accordion class="example-headers-align">
        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
            <mat-expansion-panel-header  class="header" [collapsedHeight]="'48px'" [expandedHeight]="'48px'">
                <mat-panel-title fxFlex="80">
                    <span *ngIf="true">Enter Patient Details to Proceed</span>
                    <span *ngIf="false">Patient Details</span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div fxLayout="column" class="inputSection">
                <div fxLayout="row" class="margin_top_10">
                    <div fxFlex="100" class="usenameInput">
                        <input placeholder="Patient ID" class="custom_input" [(ngModel)]="patient_id" />
                    </div>
                </div>
                <div fxLayout="row">
                    <div fxFlex="100" class="usenameInput">
                        <input placeholder="Patient Name" class="custom_input" [(ngModel)]="patient_name" />
                    </div>
                </div>
                <div fxLayout="row" class="two_in_row">
                    <div fxFlex="50" class="usenameInput margin_right">
                        <input placeholder="Age(In Weeks)" class="custom_input" [(ngModel)]="age" type=number/>
                    </div>
                    <div fxFlex="50" class="usenameInput">
                        <ng-select placeholder="Birth Order" [items]="birthOrders" [(ngModel)]="birth_order"> </ng-select>
                    </div>
                </div>
                <div fxLayout="row" class="two_in_row">
                    <div fxFlex="50" class="usenameInput margin_right">
                        <input placeholder="Birth Weight(Grams)" class="custom_input" [(ngModel)]="birth_weight" />
                    </div>
                    <div fxFlex="50" class="usenameInput">
                        <input placeholder="Current Weight(Grams)" class="custom_input" [(ngModel)]="current_weight" />
                    </div>
                </div>
                <div fxLayout="row" class="margin_top_10 two_in_row">
                    <div fxFlex="50" class="usenameInput margin_right">
                        <ng-select class="cust-select-box" [items]="routes" placeholder="Select Route" [(ngModel)]="route">
                            <ng-template ng-option-tmp let-item="item" let-$item="item$" let-index="index">
                                {{item}}
                            </ng-template>
                        </ng-select>
                    </div>
                    <div fxFlex="50" class="usenameInput">
                        <input placeholder="Indication" class="custom_input" [(ngModel)]="indication" />
                    </div>
                </div>
                <div fxLayout="row" class="two_in_row">
                    <div fxFlex class="usenameInput">
                        <ng-select class="cust-select-box" [items]="medications" placeholder="Medication" [(ngModel)]="medication">
                            <ng-template ng-option-tmp let-item="item" let-$item="item$" let-index="index">
                                {{item}}
                            </ng-template>
                        </ng-select>

                    </div>
                </div>
                <div fxLayout="row" class="two_in_row">
                    <div fxFlex="50" class="usenameInput margin_right">
                        <input placeholder="Dose" class="custom_input" [(ngModel)]="dose" />
                    </div>
                    <div fxFlex="50" class="usenameInput">
                        <input placeholder="Frequency" class="custom_input" [(ngModel)]="frequency" />
                    </div>
                </div>
                <div fxLayout="row">
                    <div fxFlex class="usenameInput">
                        <input placeholder="Doctor Name" class="custom_input" [(ngModel)]="doctor_name" />
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="end center">
                    <button [disabled]="!patient_id || !patient_name || !age || !birth_order || !birth_weight || !current_weight || !route || !indication || !medication || !dose || !frequency || !doctor_name" class="btn_primary" (click)="nextStep()">Submit</button>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</section>