.userInfoScreen {
    .example-headers-align {
        .margin_top_10 {
            margin-top: 10px !important;
        }

        .usenameInput {
            label {
                font-size: 14px;
                font-weight: 400;
            }

            input {
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }

        .two_in_row {
            .margin_right {
                margin-right: 10px;
            }
        }

        .btnGrp {
            button:hover {
                border: 1px solid black;
            }
        }
    }

    .mat-expansion-panel-header-title {
        flex-grow: 10 !important;
    }

    .mat-expansion-panel-header-description {
        flex-grow: 1 !important;
    }

}

::ng-deep .mat-expansion-panel-body {
    background-color: #F4F8FD;
    color: black;
}